.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### docker-compose mariadb ###
database/conf.d/*
database/data/*


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

